[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PySimpleGUI = { git = "https://github.com/andor-pierdelacabeza/PySimpleGUI-4-foss.git", ref = "foss" }

[dev-packages]

[requires]
python_version = "3.10"
